#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

ignoredisk --only-use=vda
# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto
network  --bootproto=dhcp --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$2L8XdNmnoa9p1avt$GZFxPbpoEu.2OIkoSzWCdggmLCPaZ2Pbk0Vq29s8WkbcJAWhFIZCDF7FNmtGlltjvX2lCLnstNQzgyZFmWSg9.
# System timezone
timezone Asia/Kolkata --isUtc
user --name=atul --password=$6$8FH6M0r8Evfi3q/g$dAbPmpyOvJ3N7ArlTx7wRo70dIUG/aW1f.T81Bb4kSOZubyc2aT/cSlESITfdr4v40dNhgY4wVvOgOGk.2vRE/ --iscrypted --gecos="atul"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@backup-server
@base
@compat-libraries
@core
@desktop-debugging
@development
@dial-up
@dns-server
@file-server
@fonts
@ftp-server
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@identity-management-server
@infiniband
@input-methods
@internet-browser
@java-platform
@kde-desktop
@large-systems
@load-balancer
@mail-server
@mainframe-access
@mariadb
@multimedia
@network-file-system-client
@performance
@postgresql
@print-client
@print-server
@remote-system-management
@security-tools
@smart-card
@virtualization-client
@virtualization-hypervisor
@virtualization-tools
@x11
kexec-tools

%end

%addon com_redhat_subscription_manager 
%end
%addon com_redhat_kdump --enable --reserve-mb=auto
%end
